.sanpham
{
    float: left;
    width: 320px;
    height: 420px;  
    box-shadow: 0 0 5px gray ;
    margin-left: 90px;
    margin-top: 20px;
}
.sanpham > img{
    padding: 19px ;
}
.sanpham .ten
{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    height: 35px;
    font-size: 14px;
    margin: 10px;
}
.sanpham > .ten:hover{
    color: red;
}
.sanpham2 > img{
    padding: 19px ;
}
.sanpham2
{
    float: left;
    width: 320px;
    height: 420px;  
    box-shadow: 0 0 5px gray ;
    margin-top: 20px;
    margin-left: 15px;
}
.sanpham2 .ten
{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    height: 35px;
    font-size: 14px;
    margin: 10px;
}
.sanpham2 > .ten:hover{
    color: red;
}
span{
    font-size: 20px;
    color: #ed0000;
    font-weight: bold;
}